  body {
    margin: 0;
    padding: 0;
  }
  #joinMenu {
    text-align: center;
    width: 80%;
    height: 80%;
    background-color: rgb(108, 163, 245);
  }
  #mainCanvas {
    width: 100vw;
    height: 100vh;
  }
  .textInput{
  width: 200px;
  }

  .slidecontainer {
    padding-top: 2%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    margin: auto;
    width: 50%; 
    border-radius: 5%;
  }
  

  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 50%; 
    height: 25px;
    background: #d3d3d3; 
    outline: none;
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  

  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  #renderscaleDisplay{
    padding-top: 0%;
    margin-top: 0%;
  }