#stage {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  display: none;
  padding: 0;
  margin: 0;
}

#stage canvas{
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#joinMenu {
  border-radius: 3%;
  min-height: 10em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 40%;
  height: 80%;
  background-color: rgb(108, 163, 245);
}

.textInput {
  width: 200px;
}

.slidecontainer {
  padding-top: 2%;
  margin-bottom: 0%;
  padding-bottom: 0%;
  margin: auto;
  width: 50%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#renderscaleDisplay {
  padding-top: 0%;
  margin-top: 0%;
}

#submitBtn {
  margin-bottom: 2%;
}
